.tiles{
    border: black solid 1px;
    background-color: cadetblue;
    margin: 1%;
    float: left;
    width: 16%;
    height: 200px;

}

body{
    text-align: center;
}

#start, #reset{
    align-items: center;
    display: block;
    margin-top: 1%;
}